.layoutHeader {
  height: 55px;
  background-color: #ffffff;
  border-bottom: 1px solid #f6f6f6;
  padding: 0;
}

.headerContent {
  height: 100%;
  padding: 0 20px;
}

:global {
  .header-lf {
    .collapsed {
      margin-right: 20px;
      font-size: 20px;
      cursor: pointer;
      transition: color 0.3s;
    }
    .ant-breadcrumb {
      color: #000000;
    }
  }
  .header-ri {
    .icon-style {
      margin-right: 22px;
      font-size: 20px;
      line-height: 19px;
      color: rgb(77 77 77);
      cursor: pointer;
    }
    .username {
      margin: 0 20px 0 0;
      font-size: 15px;
      color: #000000;
    }
    .ant-avatar {
      cursor: pointer;
    }
  }
}
