<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.single.blog.dao.BlogContentMapper">

    <resultMap id="BaseResultMap" type="com.cy.single.blog.pojo.entity.blog.BlogContent">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="surrogate_id" jdbcType="BIGINT" property="surrogateId" />
        <result column="category_id" jdbcType="BIGINT" property="categoryId" />
        <result column="label_ids" jdbcType="VARCHAR" property="labelIds" />
        <result column="topic_id" jdbcType="BIGINT" property="topicId" />
        <result column="number" jdbcType="VARCHAR" property="number" />
        <result column="original" jdbcType="INTEGER" property="original" />
        <result column="recommend" jdbcType="INTEGER" property="recommend" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="introduction" jdbcType="VARCHAR" property="introduction" />
        <result column="img_url" jdbcType="VARCHAR" property="imgUrl" />
        <result column="paragraph" jdbcType="VARCHAR" property="paragraph" />
        <result column="word_count" jdbcType="BIGINT" property="wordCount" />
        <result column="publish_time" jdbcType="TIMESTAMP" property="publishTime" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="deleted" jdbcType="INTEGER" property="deleted" />
        <result column="creator_id" jdbcType="BIGINT" property="creatorId" />
        <result column="modifier_id" jdbcType="BIGINT" property="modifierId" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>

    <sql id="Table_Name">
        blog_content
    </sql>

    <sql id="Base_Column_List">
        id, surrogate_id, category_id, label_ids, topic_id, `number`, original, recommend,
    title, introduction, img_url, paragraph, word_count, publish_time, `status`, remark, deleted, creator_id,
    modifier_id, create_time, update_time
    </sql>

    <select id="pageContentList" resultType="com.cy.single.blog.pojo.vo.blog.BlogContentVO">
        select <include refid="Base_Column_List" />
        from <include refid="Table_Name" />
        <where>
            <if test="param.surrogateId != null and param.surrogateId != ''">
                and surrogate_id = #{param.surrogateId}
            </if>
            <if test="param.original != null and param.original != ''">
                and original = #{param.original}
            </if>
            <if test="param.recommend != null and param.recommend != ''">
                and recommend = #{param.recommend}
            </if>
            <if test="param.status != null and param.status != ''">
                and status = #{param.status}
            </if>
            <if test="param.keyWords != null and param.keyWords != ''">
                and (
                `number` like concat('%',#{param.keyWords},'%')
                or
                `name` like concat('%',#{param.keyWords},'%')
                or
                remark like concat('%',#{param.keyWords},'%')
                )
            </if>
        </where>
        <if test="param.isOrder != null and param.isOrder != ''">
            order by create_time
            <if test="param.isOrder == 0">
                asc
            </if>
            <if test="param.isOrder == 1">
                desc
            </if>
        </if>
    </select>

    <select id="pageContentCount" resultType="java.lang.Integer">
        select count(1)
        from <include refid="Table_Name" />
        <where>
            <if test="param.surrogateId != null and param.surrogateId != ''">
                and surrogate_id = #{param.surrogateId}
            </if>
            <if test="param.original != null and param.original != ''">
                and original = #{param.original}
            </if>
            <if test="param.recommend != null and param.recommend != ''">
                and recommend = #{param.recommend}
            </if>
            <if test="param.status != null and param.status != ''">
                and status = #{param.status}
            </if>
            <if test="param.keyWords != null and param.keyWords != ''">
                and (
                `number` like concat('%',#{param.keyWords},'%')
                or
                `name` like concat('%',#{param.keyWords},'%')
                or
                remark like concat('%',#{param.keyWords},'%')
                )
            </if>
        </where>
        <if test="param.isOrder != null and param.isOrder != ''">
            order by create_time
            <if test="param.isOrder == 0">
                asc
            </if>
            <if test="param.isOrder == 1">
                desc
            </if>
        </if>
    </select>


    <select id="contentList" resultType="com.cy.single.blog.pojo.vo.blog.BlogContentVO">
        select <include refid="Base_Column_List" />
        from <include refid="Table_Name" />
        <where>
            <if test="param.surrogateId != null and param.surrogateId != ''">
                and surrogate_id = #{param.surrogateId}
            </if>
            <if test="param.original != null and param.original != ''">
                and original = #{param.original}
            </if>
            <if test="param.recommend != null and param.recommend != ''">
                and recommend = #{param.recommend}
            </if>
            <if test="param.status != null and param.status != ''">
                and status = #{param.status}
            </if>
            <if test="param.keyWords!=null and param.keyWords!=''">
                and (
                `number` like concat('%',#{param.keyWords},'%')
                or
                `name` like concat('%',#{param.keyWords},'%')
                or
                remark like concat('%',#{param.keyWords},'%')
                )
            </if>
        </where>
        <if test="param.isOrder != null and param.isOrder != ''">
            order by create_time
            <if test="param.isOrder == 0">
                asc
            </if>
            <if test="param.isOrder == 1">
                desc
            </if>
        </if>
    </select>

    <update id="updateStatusBySurrogateId">
        update <include refid="Table_Name" />
        set status = #{param.status}
        <where>
            surrogate_id = #{param.surrogateId}
        </where>
    </update>

    <select id="frontContentList" resultType="com.cy.single.blog.pojo.vo.blog.BlogContentVO">
        select <include refid="Base_Column_List" />
        from <include refid="Table_Name" />
        order by publish_time desc
        limit 50
    </select>

    <select id="frontContentByGroupCategory" resultType="com.cy.single.blog.pojo.vo.blog.BlogContentGroupVO">
        select category_id, count(1) as 'category_count'
        from <include refid="Table_Name" />
        where `status` = 1
        group by category_id
    </select>

    <select id="frontContentPageList" resultType="com.cy.single.blog.pojo.vo.blog.BlogContentVO">
        select <include refid="Base_Column_List" />
        from <include refid="Table_Name" />
        <where>
            <if test="param.surrogateId != null and param.surrogateId != ''">
                and surrogate_id = #{param.surrogateId}
            </if>
            <if test="param.original != null and param.original != ''">
                and original = #{param.original}
            </if>
            <if test="param.recommend != null and param.recommend != ''">
                and recommend = #{param.recommend}
            </if>
            <if test="param.status != null and param.status != ''">
                and status = #{param.status}
            </if>
            <if test="param.keyWords != null and param.keyWords != ''">
                and (
                `number` like concat('%',#{param.keyWords},'%')
                or
                `title` like concat('%',#{param.keyWords},'%')
                or
                `name` like concat('%',#{param.keyWords},'%')
                or
                remark like concat('%',#{param.keyWords},'%')
                )
            </if>
        </where>
        <if test="param.isOrder != null and param.isOrder != ''">
            order by publish_time
            <if test="param.isOrder == 0">
                asc
            </if>
            <if test="param.isOrder == 1">
                desc
            </if>
        </if>
    </select>
</mapper>
