<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.single.blog.dao.SysDictDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cy.single.blog.pojo.entity.sys.SysDictDetail">
        <id column="surrogate_id" property="surrogateId" />
        <result column="parent_id" property="parentId" />
        <result column="name" property="name" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Table_Name">
        sys_dict_detail
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        surrogate_id, parent_id, number, name, remark
    </sql>

    <!--分页查询字典明细-->
    <select id="listDetailPage" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from <include refid="Table_Name"/>
        where parent_id = #{param.sysDictId}
    </select>
</mapper>
