html,
body {
  margin: 0;
  padding: 0;
}

.homeWarpper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /*

  设置容器的最小高度为视口高度 */
  background: #ffffff;

  .header-warpper {
    display: flex;
    height: '100px';
    position: 'sticky';
    top: 0;
    z-index: 1;
    width: '100%';
    align-items: 'center';
  }
}
