body {
  margin: 0;
  padding: 0;
}

.mainLayoutWarpper {
  display: flex;
  // width: 100vw; /* viewport width */
  // height: 100vh; /* viewport height */
  // margin: 0; /* 重置margin */
  min-width: 100vw;
  min-height: 100vh;
  height: 100%;

  .sider-warpper {
    display: flex;
  }

  // :global{
  // 	.ant-layout-sider {
  // 		& ::-webkit-scrollbar {
  // 			background-color: #001529;
  // 		}
  // 		& ::-webkit-scrollbar-thumb {
  // 			background-color: #41444b;
  // 		}
  // 	}
  // 	.ant-layout {
  // 		/* 防止 tabs 超出不收缩 */
  // 		overflow-x: hidden;
  // 		.ant-layout-content {
  // 			box-sizing: border-box;
  // 			padding: 20px;
  // 			margin: 10px 13px;
  // 			overflow: auto;
  // 			background-color: #ffffff;
  // 			border-radius: 4px;
  // 			box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
  // 			.content {
  // 				width: 100%;
  // 				height: 100%;
  // 			}
  // 		}
  // 	}
  // }
}
